@page "/api/habit/create"
@attribute [Authorize]
@inject HttpClient Http
@using GrooveHT.Shared.Models.Habit
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigation

<h3>Create a Habit</h3>

@if (errorMessage !=null)
{
    <h5 class="text-danger">@errorMessage</h5>
}
<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="model.HabitTitle" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <InputText class="form-control" @bind-Value="model.Description" />
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
        
    </EditForm>
</div>
@code {
    private HabitCreate model = new();
    private string errorMessage;
    private async void HandleSubmit()
    {
        var createRes = await Http.PostAsJsonAsync<HabitCreate>("/api/habit", model);
        if (createRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/api/habit");
        }
        else
        {
            errorMessage = "Could not create your habit right now. Please try again later.";
        }
    }

}
