@page "/api/tracker"
@using GrooveHT.Shared.Models.Tracker
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inject HttpClient http

<h3>Log your Daily Habit</h3>

<a href="/api/tracker/create">Log here</a>

<h5>Log History</h5>
@if (_trackers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Habit Configuration</th>
                <th>Date Completed</th>
                <th>Notes</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tracker in _trackers)
            {
                <tr>
                    
                    <td>@tracker.ConfigurationName Tracker</td>
                    <td>@tracker.Date</td>
                    <td>@tracker.Notes</td>
                    <td>@tracker.Id</td>
                    <td>
                        <a href=@($"/api/tracker/{tracker.Id}")>Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<TrackerListItem> _trackers;

    protected override async Task OnInitializedAsync()
    {
        _trackers = await http.GetFromJsonAsync<List<TrackerListItem>>("api/tracker");
    }

}
